<div ng-controller="ViewController">
  <h1>Upcoming Home Maintenance Tasks</h1>

  <ul>
    <li class="tasks" ng-repeat="task in tasks | orderBy: 'due'">
      <button ng-click="deleteTask(task)">Delete Task</button>
      <div><span class="header">Title: </span>{{task.title}}</div>
      <div><span class="header">Equipment: </span>{{task.equipment}}</div>
      <div><span class="header">Description: </span>{{task.description}}</div>
      <div><span class="header">Due Date: </span>{{task.due | date:"MM/dd/yyyy"}}</div>
      <div><span class="header">Created Date: </span>{{task.created | date: "MM/dd/yyyy"}}</div>

    </li>
  </ul>
</div>